<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="La_tâche_Espace_des_clubs.Properties.Settings.ClubConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Club;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>